In [1]:
import pandas as pd
import numpy as np

In [9]:
pup = pd.read_excel("pupils.xlsx", header=1)
pk = pd.read_excel("persoonskenmerken.xlsx")
per = pd.read_excel("perioden.xlsx")

In [10]:
pup.head()

,ID,Persoonskenmerken,Perioden,AantalMinutenHuiswerkPerDag_1,HuiswerkWelEensInKnoeiBijbaanWerk_2,JaMoeilijk_3,HetGaatWel_4,NeeNietMoeilijk_5,Ja_6,Gedeeltelijk_7,...,Soms_27,ZeldenOfNooit_28,VerderLerenStuderen_29,SolliciterenGaanWerken_30,WerkenEnTegelijkStuderen_31,IetsAnders_32,WelEensGespijbeldOfLessenVerzuimd_33,AantalUrenSpijbelen_34,VerzuimdWegensZiekteOngevalED_35,AantalDagenZiekteverzuim_36
0,0,10,1997JJ00,108.0,8.0,12.0,42.0,45.0,65.0,21.0,...,NaN,NaN,55.0,26.0,16.0,3.0,22.0,2.0,26.0,4.0
1,1,10,2001JJ00,103.0,26.0,12.0,42.0,46.0,58.0,23.0,...,30.0,14.0,52.0,24.0,18.0,5.0,22.0,3.0,34.0,4.0
2,2,10,2003JJ00,100.0,21.0,11.0,43.0,46.0,63.0,21.0,...,32.0,14.0,55.0,25.0,16.0,4.0,20.0,2.0,33.0,3.0
3,3,11,1997JJ00,102.0,7.0,13.0,41.0,46.0,63.0,22.0,...,NaN,NaN,54.0,24.0,18.0,3.0,22.0,3.0,24.0,4.0
4,4,11,2001JJ00,92.0,22.0,12.0,42.0,46.0,59.0,24.0,...,31.0,14.0,50.0,26.0,19.0,4.0,24.0,3.0,33.0,3.0

In [11]:
pk

,Key,Title,Description
0,10,Totaal persoonskenmerken,NaN
1,11,Mannen,NaN
2,12,Vrouwen,NaN
3,14,12-17-jarigen,NaN
4,15,18-24-jarigen,NaN
5,16,25-29-jarigen,NaN
6,22,Opleidingsniveau: basisonderwijs,Opleidingsniveau van de opleiding die wordt ge...
7,23,Opleidingsniveau: vbo,Opleidingsniveau van de opleiding die wordt ge...
8,24,Opleidingsniveau: mavo,Opleidingsniveau van de opleiding die wordt ge...
9,25,"Opleidingsniveau: havo, mbo, vwo",Opleidingsniveau van de opleiding die wordt ge...
10,26,"Opleidingsniveau: hbo, universiteit",Opleidingsniveau van de opleiding die wordt ge...
11,38,Eenpersoonshuishouden,NaN
12,39,Lid van een eenoudergezin,Ouder of kind.
13,40,Lid van paar zonder kinderen,NaN
14,41,Lid van paar met kinderen,Ouder of kind.
15,42,Zeer sterk stedelijk,Omgevingsadressendichtheid van 2500 of meer ad...
16,43,Sterk stedelijk,Omgevingsadressendichtheid van 1500 tot 2500 a...
17,44,Matig stedelijk,Omgevingsadressendichtheid van 1000 tot 1500 a...
18,45,Weinig stedelijk,Omgevingsadressendichtheid van 500 tot 1000 ad...
19,46,Niet stedelijk,Omgevingsadressendichtheid van minder dan 500 ...
20,51,0-14 jarigen,NaN
21,52,15-24 jarigen,NaN
22,53,25-44 jarigen,NaN

In [17]:
per.head()

        Key  Title  Description      Status
0  1997JJ00   1997          NaN  Definitief
1  2001JJ00   2001          NaN  Definitief
2  2003JJ00   2003          NaN  Definitief

In [47]:
df = pup.merge(per, left_on='Perioden', right_on='Key', how="left")\
    .merge(pk, left_on='Persoonskenmerken', right_on='Key', how="left")

In [49]:
df.columns

Index(['ID', 'Persoonskenmerken', 'Perioden', 'AantalMinutenHuiswerkPerDag_1',
       'HuiswerkWelEensInKnoeiBijbaanWerk_2', 'JaMoeilijk_3', 'HetGaatWel_4',
       'NeeNietMoeilijk_5', 'Ja_6', 'Gedeeltelijk_7', 'Nee_8',
       'OpleidingMoeilijkerDanVerwacht_9',
       'OpleidingMakkelijkerDanVerwacht_10',
       'OplMinderPraktijkGerichtDanVerwacht_11',
       'OplMeerPraktijkGerichtDanGedacht_12', 'SfeerOpOpleidingValtTegen_13',
       'AndereReden_14', 'ZeerGoed_15', 'Goed_16', 'NochGoedNochSlecht_17',
       'ZeerSlecht_18', 'ZeerTevreden_19', 'Tevreden_20',
       'NochTevredenNochOntevreden_21', 'ZeerOntevreden_22',
       'OpHoogteToekomstigeBeroepsmogelijkh_23',
       'OpDeHoogteHoeJeMoetSolliciteren_24', 'HeelVaak_25', 'Vaak_26',
       'Soms_27', 'ZeldenOfNooit_28', 'VerderLerenStuderen_29',
       'SolliciterenGaanWerken_30', 'WerkenEnTegelijkStuderen_31',
       'IetsAnders_32', 'WelEensGespijbeldOfLessenVerzuimd_33',
       'AantalUrenSpijbelen_34', 'VerzuimdWegensZiekteOngevalED_35',
       'AantalDagenZiekteverzuim_36', 'Key_x', 'Title_x', 'Description_x',
       'Status', 'Key_y', 'Title_y', 'Description_y'],
      dtype='object')